# IntelliJ project files
.idea
*.iml
out
gen

# YAML
*cluster.yaml
*secrets.yaml
*serviceaccount.yaml
*rerun.yaml

# JSON
service-account.json

# Other
gke_*
*config*
*build-cluster*
istio-prow-build*
*cookie.txt
